body {
    
    font-family: Arial, sans-serif;
}

header {
    margin: 0 112px;
    background-color: #fff;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width:240px;
}
.logo img{
    width: 100%;
}


 .social-icons {
    color: #111827;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    display: flex;
    gap: 2rem;
    list-style: none;
}
.social-icons a{
    color: #111827;
}

.button {
    background-color: #111827;
    color: #fff;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 240px;
}
.hero {
    margin: 0 112px;
    justify-content: center;
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    padding: 112px;

}
.hero h1{
    font-size: 64px;
    color: #111827;
    text-align: center;
}
.hero p{
    font-size: 16px;
    line-height: 24px;
    color: #4B5563;
    text-align: center;
    width: 768px;
    margin: -20px auto 24px;
}
.HeroButtons{
    padding: 24px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}
.ViewProjects{
    background-color: #7375FD;
    color: #fff;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 172px;
}
.GetInTouch{
    background-color: white;
    color: #111827;
    padding: 16px 20px;
    border: 1px solid #111827;
    border-radius: 8px;
    cursor: pointer;
    width: 172px;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAFB;
    padding: 56px 56px;
    align-items: center;
}

.services h1{
    font-size: 40px;
    color: #111827;
    text-align: center;
    width: 720px;
}
.ServiceRow{
    display: flex;
    justify-content: space-between;
    margin: 56px;
    gap: 40px;
}
.ServiceCard{
    width: 280px;
    height: 284px;
}
.CardIcon{
    width: 64px;
    height: 64px;
}
.CardIcon img{
    width: 100%;
    height: 100%;
}
.ServiceCard p {
        font-size: 16px;
        line-height: 24px;
        color: #4B5563;
        margin: -8px auto 8px;
}
.ServiceCard h1 {
    font-size: 20px;
    line-height: 32px;
    color: #111827;
    margin: 0px auto 8px;
}
.fa-solid fa-circle-check {
    margin-left: 10px;
    color: #7375FD;
  }

  .skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #Ffff;
    padding-top:56px;
    padding-bottom:112px ;
    align-items: center;
}
.skills h1{
    font-size: 40px;
    color: #111827;
    text-align: center;
    width: 720px;
}
.SkillItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 862px;
    align-items: center;
    justify-content: center;
    color: #4B5563;
    
}

.SkillItems .fa-circle-check {
    color: #7375FD;
    margin-left:8px ;
}

